html
{
    height: 100%;
}
body, button, input, select, textarea
{
    font: 14px/1.5 -apple-system,BlinkSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",Helevetica,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei","Source Han Sans CN",sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #000;
    outline: 0;
    margin: 0;
    height: 100%;
}
.list-group-item:first-child
{
    margin-top: 16px;
}
.list-group-item
{
    display: flex;
    margin-bottom: 16px;
    margin-left: 12px;
}
.item-tit .label
{
    width: 38px;
    text-align: center;
    float: left;
    cursor: default;
    visibility: hidden;
}
.thumb
{
    float: left;
    font-size: 0;
    position: relative;
    z-index: 0;
}
.item-tit .thumb
{
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 8px 15px 0 8px;
    cursor: pointer;
}
.icon
{
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    font-size: 0;
    overflow: hidden;
    -webkit-text-size-adjust: none;
    vertical-align: middle;
}
.icon-m
{
    width: 40px;
    height: 40px;
    background-position: center;
}
.icon
{
    display: inline-block;
}
.item-tit .thumb .icon
{
    vertical-align: top;
}
a
{
    text-decoration: none;
    color: #020202;
    outline: 0;
}
.txt-time
{
    vertical-align: top;
}
.txt
{
    opacity: .6;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    max-height: 3em;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
}
.task-ctrl-list .icon-upload-mini
{
    width: 16px;
    height: 16px;
    background-image: url(sprite/page-home@2x.png);
    background-position: -674px -631px;
    background-size: 810px 719px;
    vertical-align: 1px;
}
.icon-close-m
{
    width: 36px;
    height: 36px;
    background-image: url(/static/icon-close-m.svg);
}
.mod-loading .icon-loading-m
{
    width: 50px;
    height: 50px;
    background-image: url(../img/icon-loading-m.png);
    -webkit-animation: load .6s linear infinite;
    animation: load .6s linear infinite;
}
.icon-check-m
{
    width: 24px;
    height: 24px;
    background-image: url(sprite/page-home.png);
    background-position: 0 0;
}
.icon-upload-mini
{
    width: 16px;
    height: 16px;
    background-image: url(sprite/page-home@2x.png);
    background-position: -674px -631px;
    background-size: 810px 719px;
}
.icon-loc-m
{
    width: 40px;
    height: 40px;
    background-image: url(/static/icon-loc-m.svg);
}
.icon-tag-m
{
    width: 40px;
    height: 40px;
    background-image: url(/static/icon-tag-m.svg);
}
.icon-rec-m
{
    width: 40px;
    height: 40px;
    background-image: url(/static/icon-rec-m.svg);
}
.icon-full-m
{
    width: 24px;
    height: 24px;
    background-image: url(/static/icon-full-m.svg);
}
.icon-full-m
{
    width: 24px;
    height: 24px;
    background-image: url(/static/icon-full-act-m.svg);
}
.icon-mac-m
{
    width: 32px;
    height: 32px;
    background-image: url(/static/icon-mac-m.svg);
}
.icon-qq-m
{
    width: 24px;
    height: 24px;
    background-image: url(/static/icon-qq-m.svg);
}
.icon-wechat-m
{
    width: 24px;
    height: 24px;
    background-image: url(/static/icon-wechat-m.svg);
}
.icon-team-m
{
    background-image: url(/static/icon-team-m.svg);
}
.icon-file-m
{
    background-image: url(/static/icon-file-m.svg);
}
.icon-folder-m
{
    background-image: url(/static/icon-folder-m.svg);
}
.icon-inbox-m
{
    background-image: url(/static/icon-inbox.svg);
}
.icon-pic-m
{
    background-image: url(/static/icon-pic-m.svg);
}
.icon-error-m
{
    background: #fff url(/static/icon-pic-error-m.svg);
}
.icon-pho-m
{
    background-image: url(/static/icon-pic-m.svg);
}
.icon-txt-m
{
    background-image: url(/static/icon-txt-m.svg);
}
.icon-note-m
{
    background-image: url(/static/icon-note-m.svg);
}
.icon-voice-m
{
    background-image: url(/static/icon-voice-m.svg);
}
.icon-vsd-m
{
    background-image: url(/static/icon-vsd-m.svg);
}
.icon-pages-m
{
    background-image: url(/static/icon-pages-m.svg);
}
.icon-ppt-m
{
    background-image: url(/static/icon-ppt-m.svg);
}
.icon-doc-m
{
    background-image: url(/static/icon-doc-m.svg);
}
.icon-xls-m
{
    background-image: url(/static/icon-xls-m.svg);
}
.icon-pdf-m
{
    background-image: url(/static/icon-pdf-m.svg);
}
.icon-keynote-m
{
    background-image: url(/static/icon-keynote-m.svg);
}
.icon-msg-m
{
    background-image: url(/static/icon-msg-m.svg);
}
.icon-zip-m
{
    background-image: url(/static/icon-zip-m.svg);
}
.icon-video-m
{
    background-image: url(/static/icon-video-m.svg);
}
.icon-flv-m
{
    background-image: url(/static/icon-flv-m.svg);
}
.icon-audio-m
{
    background-image: url(/static/icon-audio-m.svg);
}
.icon-tdoc-m
{
    background-image: url(/static/icon-tdoc-m.svg);
}
.icon-txls-m
{
    background-image: url(/static/icon-txls-m.svg);
}
.icon-ps-m
{
    background-image: url(/static/icon-ps-m.svg);
}
.icon-ai-m
{
    background-image: url(/static/icon-ai-m.svg);
}
.icon-ipa-m
{
    background-image: url(/static/icon-ipa-m.svg);
}
.icon-apk-m
{
    background-image: url(/static/icon-apk-m.svg);
}
.icon-damaged-m
{
    background-image: url(/static/icon-damaged-m.svg);
}
.icon-font-m
{
    background-image: url(/static/icon-font-m.svg);
}
.icon-code-m
{
    background-image: url(/static/icon-code-m.svg);
}
.icon-nor-m
{
    background-image: url(/static/icon-nor-m.svg);
}
.icon-bt-m
{
    background-image: url(/static/icon-bt-m.svg);
}
.icon-numbers-m
{
    background-image: url(/static/icon-numbers-m.svg);
}
.icon-sketch-m
{
    background-image: url(/static/icon-sketch-m.svg);
}
.icon-safebox-m
{
    background-image: url(/static/icon-safebox-m.svg);
}
.icon-member-m
{
    background-image: url(/static/icon-member-m.svg);
}
.icon-multi-m
{
    background-image: url(/static/icon-multi-m.svg);
}
.icon-pic-m
{
    background: url(/static/icon-pic-m-light.svg);
}
.icon-pdf-m
{
    background-image: url(/static/icon-pdf-m-light.svg);
}
.icon-close-mac
{
    width: 16px;
    height: 16px;
    background-image: url(/static/icon-close-mac.svg);
}
.icon-min-mac
{
    width: 16px;
    height: 16px;
    background-image: url(/static/icon-min-mac.svg);
}
.icon-more-m
{
    background-image: url(/static/more_vert.svg);
}
.icon-close-mac
{
    background-image: url(/static/icon-close-mac-hover.svg);
}
.layout-toolbar
{
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
}
.mod-nav
{
    height: 64px;
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.mod-action-wrap
{
    float: left;
    border-radius: 2px;
    background-color: #2980ff;
    border: 1px solid #2980ff;
    padding: 0 20px;
    color: #fff;
    height: 34px;
    display: flex;
    align-items: center;
}
.icon-upload-s
{
    width: 24px;
    height: 24px;
    background-image: url(/static/icon-upload-s.svg);
}
.dialog-mask
{
    position: fixed;
    z-index: 1001;
    right: 0;
    bottom: -200px;
    top: 0;
    left: 0;
    -webkit-transition: opacity .25s;
    opacity: 0;
    visibility: hidden;
}
.dialog-show .dialog-mask
{
    background-color: #000;
    opacity: .4;
    visibility: inherit;
}
.dialog-wrapper
{
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 1002;
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    white-space: nowrap;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    transform: translateZ(0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.dialog-show .dialog-wrapper
{
    opacity: 1;
    visibility: inherit;
}
.dialog-wrapper::after
{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.dialog-container
{
    border-radius: 8px;
    position: relative;
    display: inline-block;
    z-index: 1060;
    background-color: #fff;
    opacity: 0;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    transform: translateZ(0);
    box-shadow: 0 5px 26px 0 rgba(0,0,0,.22),0 20px 28px 0 rgba(0,0,0,.3);
}
.dialog-show .dialog-container
{
    opacity: 1;
    visibility: inherit;
}
.dialog-container-wrapper
{
    max-width: 300px;
    -webkit-user-select: none;
}
.dialog-content
{
    padding: 24px;
    font-size: 16px;
    overflow-wrap: break-word;
}
.dialog-footer
{
    display: flex;
    justify-content: flex-end;
    padding: 0 0 8px 0;
}
.dialog-button
{
    margin-bottom: -1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 0 0 auto;
    margin-right: 8px;
    min-width: 48px;
    padding: 0 8px;
    line-height: 36px !important;
    text-align: center;
    font-family: Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif !important;
}
.info
{
    flex-grow: 1;
    min-width: 0;
    align-items: flex-start;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4
{
    margin: 0 0 3px 0;
}
h1, h2, h3, h4, .subhead
{
    box-orient: vertical;
    -webkit-box-orient: vertical;
    display: box;
    display: -webkit-box;
    max-height: 2.5em;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 1.25;
    text-overflow: ellipsis;
    font-weight: normal;
}
h3
{
    font-size: 14px;
    width: 100%;
}
.list-group-item .icon
{
    flex-shrink: 0;
}
.item-info
{
    flex-shrink: 0;
}html
 {
     height: 100%;
 }
 body, button, input, select, textarea
 {
     font: 14px/1.5 -apple-system,BlinkSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",Helevetica,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei","Source Han Sans CN",sans-serif;
     -webkit-font-smoothing: subpixel-antialiased;
     color: #000;
     outline: 0;
     margin: 0;
     height: 100%;
 }
 .list-group-item:first-child
 {
     margin-top: 16px;
 }
 .list-group-item
 {
     display: flex;
     margin-bottom: 16px;
     margin-left: 12px;
 }
 .item-tit .label
 {
     width: 38px;
     text-align: center;
     float: left;
     cursor: default;
     visibility: hidden;
 }
 .thumb
 {
     float: left;
     font-size: 0;
     position: relative;
     z-index: 0;
 }
 .item-tit .thumb
 {
     float: left;
     width: 40px;
     height: 40px;
     text-align: center;
     margin: 8px 15px 0 8px;
     cursor: pointer;
 }
 .icon
 {
     position: relative;
     display: inline-block;
     background-repeat: no-repeat;
     font-size: 0;
     overflow: hidden;
     -webkit-text-size-adjust: none;
     vertical-align: middle;
 }
 .icon-m
 {
     width: 40px;
     height: 40px;
     background-position: center;
 }
 .icon
 {
     display: inline-block;
 }
 .item-tit .thumb .icon
 {
     vertical-align: top;
 }
 a
 {
     text-decoration: none;
     color: #020202;
     outline: 0;
 }
 .txt-time
 {
     vertical-align: top;
 }
 .txt
 {
     opacity: .6;
     box-orient: vertical;
     -webkit-box-orient: vertical;
     display: box;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     max-height: 3em;
     text-overflow: ellipsis;
     overflow: hidden;
     font-size: 12px;
 }
 .task-ctrl-list .icon-upload-mini
 {
     width: 16px;
     height: 16px;
     background-image: url(sprite/page-home@2x.png);
     background-position: -674px -631px;
     background-size: 810px 719px;
     vertical-align: 1px;
 }
 .icon-close-m
 {
     width: 36px;
     height: 36px;
     background-image: url(/static/icon-close-m.svg);
 }
 .mod-loading .icon-loading-m
 {
     width: 50px;
     height: 50px;
     background-image: url(../img/icon-loading-m.png);
     -webkit-animation: load .6s linear infinite;
     animation: load .6s linear infinite;
 }
 .icon-check-m
 {
     width: 24px;
     height: 24px;
     background-image: url(sprite/page-home.png);
     background-position: 0 0;
 }
 .icon-upload-mini
 {
     width: 16px;
     height: 16px;
     background-image: url(sprite/page-home@2x.png);
     background-position: -674px -631px;
     background-size: 810px 719px;
 }
 .icon-loc-m
 {
     width: 40px;
     height: 40px;
     background-image: url(/static/icon-loc-m.svg);
 }
 .icon-tag-m
 {
     width: 40px;
     height: 40px;
     background-image: url(/static/icon-tag-m.svg);
 }
 .icon-rec-m
 {
     width: 40px;
     height: 40px;
     background-image: url(/static/icon-rec-m.svg);
 }
 .icon-full-m
 {
     width: 24px;
     height: 24px;
     background-image: url(/static/icon-full-m.svg);
 }
 .icon-full-m
 {
     width: 24px;
     height: 24px;
     background-image: url(/static/icon-full-act-m.svg);
 }
 .icon-mac-m
 {
     width: 32px;
     height: 32px;
     background-image: url(/static/icon-mac-m.svg);
 }
 .icon-qq-m
 {
     width: 24px;
     height: 24px;
     background-image: url(/static/icon-qq-m.svg);
 }
 .icon-wechat-m
 {
     width: 24px;
     height: 24px;
     background-image: url(/static/icon-wechat-m.svg);
 }
 .icon-team-m
 {
     background-image: url(/static/icon-team-m.svg);
 }
 .icon-file-m
 {
     background-image: url(/static/icon-file-m.svg);
 }
 .icon-folder-m
 {
     background-image: url(/static/icon-folder-m.svg);
 }
 .icon-inbox-m
 {
     background-image: url(/static/icon-inbox.svg);
 }
 .icon-pic-m
 {
     background-image: url(/static/icon-pic-m.svg);
 }
 .icon-error-m
 {
     background: #fff url(/static/icon-pic-error-m.svg);
 }
 .icon-pho-m
 {
     background-image: url(/static/icon-pic-m.svg);
 }
 .icon-txt-m
 {
     background-image: url(/static/icon-txt-m.svg);
 }
 .icon-note-m
 {
     background-image: url(/static/icon-note-m.svg);
 }
 .icon-voice-m
 {
     background-image: url(/static/icon-voice-m.svg);
 }
 .icon-vsd-m
 {
     background-image: url(/static/icon-vsd-m.svg);
 }
 .icon-pages-m
 {
     background-image: url(/static/icon-pages-m.svg);
 }
 .icon-ppt-m
 {
     background-image: url(/static/icon-ppt-m.svg);
 }
 .icon-doc-m
 {
     background-image: url(/static/icon-doc-m.svg);
 }
 .icon-xls-m
 {
     background-image: url(/static/icon-xls-m.svg);
 }
 .icon-pdf-m
 {
     background-image: url(/static/icon-pdf-m.svg);
 }
 .icon-keynote-m
 {
     background-image: url(/static/icon-keynote-m.svg);
 }
 .icon-msg-m
 {
     background-image: url(/static/icon-msg-m.svg);
 }
 .icon-zip-m
 {
     background-image: url(/static/icon-zip-m.svg);
 }
 .icon-video-m
 {
     background-image: url(/static/icon-video-m.svg);
 }
 .icon-flv-m
 {
     background-image: url(/static/icon-flv-m.svg);
 }
 .icon-audio-m
 {
     background-image: url(/static/icon-audio-m.svg);
 }
 .icon-tdoc-m
 {
     background-image: url(/static/icon-tdoc-m.svg);
 }
 .icon-txls-m
 {
     background-image: url(/static/icon-txls-m.svg);
 }
 .icon-ps-m
 {
     background-image: url(/static/icon-ps-m.svg);
 }
 .icon-ai-m
 {
     background-image: url(/static/icon-ai-m.svg);
 }
 .icon-ipa-m
 {
     background-image: url(/static/icon-ipa-m.svg);
 }
 .icon-apk-m
 {
     background-image: url(/static/icon-apk-m.svg);
 }
 .icon-damaged-m
 {
     background-image: url(/static/icon-damaged-m.svg);
 }
 .icon-font-m
 {
     background-image: url(/static/icon-font-m.svg);
 }
 .icon-code-m
 {
     background-image: url(/static/icon-code-m.svg);
 }
 .icon-nor-m
 {
     background-image: url(/static/icon-nor-m.svg);
 }
 .icon-bt-m
 {
     background-image: url(/static/icon-bt-m.svg);
 }
 .icon-numbers-m
 {
     background-image: url(/static/icon-numbers-m.svg);
 }
 .icon-sketch-m
 {
     background-image: url(/static/icon-sketch-m.svg);
 }
 .icon-safebox-m
 {
     background-image: url(/static/icon-safebox-m.svg);
 }
 .icon-member-m
 {
     background-image: url(/static/icon-member-m.svg);
 }
 .icon-multi-m
 {
     background-image: url(/static/icon-multi-m.svg);
 }
 .icon-pic-m
 {
     background: url(/static/icon-pic-m-light.svg);
 }
 .icon-pdf-m
 {
     background-image: url(/static/icon-pdf-m-light.svg);
 }
 .icon-close-mac
 {
     width: 16px;
     height: 16px;
     background-image: url(/static/icon-close-mac.svg);
 }
 .icon-min-mac
 {
     width: 16px;
     height: 16px;
     background-image: url(/static/icon-min-mac.svg);
 }
 .icon-more-m
 {
     background-image: url(/static/more_vert.svg);
 }
 .icon-close-mac
 {
     background-image: url(/static/icon-close-mac-hover.svg);
 }
 .layout-toolbar
 {
     background-color: #fff;
     border-bottom: 1px solid #dbdbdb;
     display: flex;
 }
 .mod-nav
 {
     height: 64px;
     display: flex;
     align-items: center;
     margin-left: 8px;
 }
 .mod-action-wrap
 {
     float: left;
     border-radius: 2px;
     background-color: #2980ff;
     border: 1px solid #2980ff;
     padding: 0 20px;
     color: #fff;
     height: 34px;
     display: flex;
     align-items: center;
 }
 .icon-upload-s
 {
     width: 24px;
     height: 24px;
     background-image: url(/static/icon-upload-s.svg);
 }
 .dialog-mask
 {
     position: fixed;
     z-index: 1001;
     right: 0;
     bottom: -200px;
     top: 0;
     left: 0;
     -webkit-transition: opacity .25s;
     opacity: 0;
     visibility: hidden;
 }
 .dialog-show .dialog-mask
 {
     background-color: #000;
     opacity: .4;
     visibility: inherit;
 }
 .dialog-wrapper
 {
     position: fixed;
     right: 0;
     bottom: 0;
     top: 0;
     left: 0;
     z-index: 1002;
     text-align: center;
     vertical-align: middle;
     visibility: hidden;
     white-space: nowrap;
     max-height: 100%;
     max-width: 100%;
     overflow: auto;
     transform: translateZ(0);
     -webkit-tap-highlight-color: rgba(0,0,0,0);
 }
 .dialog-show .dialog-wrapper
 {
     opacity: 1;
     visibility: inherit;
 }
 .dialog-wrapper::after
 {
     content: '';
     display: inline-block;
     height: 100%;
     vertical-align: middle;
 }
 .dialog-container
 {
     border-radius: 8px;
     position: relative;
     display: inline-block;
     z-index: 1060;
     background-color: #fff;
     opacity: 0;
     text-align: left;
     vertical-align: middle;
     white-space: normal;
     overflow: hidden;
     transform: translateZ(0);
     box-shadow: 0 5px 26px 0 rgba(0,0,0,.22),0 20px 28px 0 rgba(0,0,0,.3);
 }
 .dialog-show .dialog-container
 {
     opacity: 1;
     visibility: inherit;
 }
 .dialog-container-wrapper
 {
     max-width: 300px;
     -webkit-user-select: none;
 }
 .dialog-content
 {
     padding: 24px;
     font-size: 16px;
     overflow-wrap: break-word;
 }
 .dialog-footer
 {
     display: flex;
     justify-content: flex-end;
     padding: 0 0 8px 0;
 }
 .dialog-button
 {
     margin-bottom: -1px;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
     flex: 0 0 auto;
     margin-right: 8px;
     min-width: 48px;
     padding: 0 8px;
     line-height: 36px !important;
     text-align: center;
     font-family: Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif !important;
 }
 .info
 {
     flex-grow: 1;
     min-width: 0;
     align-items: flex-start;
     margin-left: 12px;
     display: flex;
     flex-direction: column;
 }
 h1, h2, h3, h4
 {
     margin: 0 0 3px 0;
 }
 h1, h2, h3, h4, .subhead
 {
     box-orient: vertical;
     -webkit-box-orient: vertical;
     display: box;
     display: -webkit-box;
     max-height: 2.5em;
     -webkit-line-clamp: 2;
     overflow: hidden;
     line-height: 1.25;
     text-overflow: ellipsis;
     font-weight: normal;
 }
 h3
 {
     font-size: 14px;
     width: 100%;
 }
 .list-group-item .icon
 {
     flex-shrink: 0;
 }
 .item-info
 {
     flex-shrink: 0;
 }