/* <link rel="stylesheet" href="../index.css"> */

html {
    font-family: 'pingfang SC', 'helvetica neue', arial, 'hiragino sans gb', 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

:focus {
    outline: none;
}

a {
    text-decoration: none
}


.crumb-item {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    font-size: 12px;
    line-height: 20px;
}

.crumb-split {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin: 0 8px;
    width: 5px;
    height: 9px;
    background-image: url(https://imgcache.qq.com/open_proj/proj_qcloud_v2/community-pc/build/base/sprite/base-202201211126.svg);;
    background-position: 62.61% 28.360000000000003%;
    background-size: 11120% 6133.333333333334%;;
    background-repeat: no-repeat
}

.article {

}

.main {
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
}

.crumb {
    font-size: 0;
    margin: 12px 0;
    padding: 0 0 0 12px;
}

@media (min-width: 1200px) {
    body {
        background-color: #F7F8FA;
    }

    .container {
        box-sizing: border-box;
        padding: 0 10px;
        max-width: 1200px;
        margin: 20px auto 60px;
        min-height: 39px;
    }

    .main {
        padding-right: 20px;
        padding-left: 60px;
    }

    .article {
        width: 800px;
        box-shadow: 0 2px 4px 0 rgba(3, 27, 78, .06);
        padding: 32px;
        border: 1px solid #E5E8ED;
        background-color: #fff;
        margin-bottom: 20px;
        box-sizing: border-box;
        position: relative;
        word-wrap: break-word;
    }

    .crumb {
        font-size: 0;
        margin: 20px 0;
        padding: 0 0 0 60px;
    }

    .article-opts {

        margin-top: 60px;
        text-align: center;
        font-size: 0;
    }

    .button {
        min-width: 180px;
    }

    .like {
        margin-right: 12px;
    }

    .share {
        margin-right: 12px;
    }

    .article-header {
        padding-top: 0;
    }
}

.article-opts {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

.layout {
    display: flex;
}

.article-header {
    margin-bottom: 32px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
    padding-top: 20px;
}

.comments {
    margin-top: 60px;
    padding-top: 28px;
    border-top: 1px solid #E5E5E5;
    margin-bottom: 40px;
}

.comments-header {
    position: relative;
    margin-bottom: 16px;
    line-height: 28px;
}


.button {
    padding: 0 16px;
    background-color: #00a4ff;
    border: 1px solid transparent;
    color: #fff;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    outline: 0;
    box-sizing: border-box;
    border-radius: 22px;
    font-size: 16px;
    line-height: 40px;
    margin: 0 10px;
}

.like {
    font-style: normal;
    font-weight: 400;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: -2px;
    width: 18px;
    height: 18px;
    background-image: url(https://imgcache.qq.com/open_proj/proj_qcloud_v2/community-pc/build/Column/sprite/Column-202111291847.svg);;
    background-position: 8.14% 68.12%;
    background-size: 1533.3333333333335% 1372.2222222222222%;
    background-repeat: no-repeat;
}

.share {
    font-style: normal;
    font-weight: 400;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    top: -2px;
    width: 18px;
    height: 18px;
    background-image: url(https://imgcache.qq.com/open_proj/proj_qcloud_v2/community-pc/build/Column/sprite/Column-202111291847.svg);;
    background-position: 31.64% 12.33%;
    background-size: 1380% 1235%;
    background-repeat: no-repeat;
}

.markdown {
    color: #202124;
}

.markdown strong {
    font-weight: 700;
    color: #000;
}

.markdown h1:first-of-type {
    -webkit-margin-end: 52px;
    -moz-margin-end: 52px;
    margin-inline-end: 52px;
    display: inline;
    margin-bottom: 20px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 600 40px / 48px Android Euclid, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
    letter-spacing: -0.5px;
}

.markdown h2 {
    color: #202124;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    -webkit-box-direction: normal;
    box-sizing: inherit;
    font: 600 24px / 32px Android Euclid, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
    letter-spacing: normal;
    margin: 56px 0 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.markdown p {
    margin: 16px 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
}

.markdown a {
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    -webkit-box-direction: normal;
    direction: ltr !important;
    text-align: left !important;
    font: Roboto Mono, monospace;
    box-sizing: inherit;
    color: #1769e0;
    outline: 0;
    text-decoration: none;
    word-break: break-word;
}

.markdown ol,
.markdown ul {
    margin: 0;
    padding-left: 40px;
}

.markdown li,
.markdown li p {
    margin: 12px 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
}

.markdown .table-wrapper {
    margin: 32px 0;
    overflow: auto;
}

.markdown table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font: 14px / 20px Roboto, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
    width: 100%;
    margin: 32px 0;
}

.markdown tr {
    box-sizing: inherit;
    background: 0;
    border: 0;
    border-bottom: 1px solid #dadce0;
}

.markdown td {
    border: 0;
    margin: 0;
    text-align: left;
    padding: 15px 16px 16px;
    background: #fff;
    vertical-align: top;
    word-break: keep-all;
}

.markdown .note {
    border-radius: 4px;
    display: block;
    font-size: 14px;
    margin: 32px 0;
    background: #e1f5fe;
    color: #01579b;
    padding: 16px 24px 16px 24px;
    /*60px*/
}

.markdown .success {
    border-radius: 4px;
    display: block;
    font-size: 14px;
    margin: 32px 0;
    background: #e0f2f1;
    color: #00796b;
    padding: 16px 24px 16px 60px;
}

.markdown .success > svg {
    fill: currentColor;
}

code,
pre {
    background: rgb(248, 249, 250);
    color: rgb(55, 71, 79);
    direction: ltr !important;
    font: 400 100% / 1 Consolas, Mono, monospace;
    padding: 1px 4px;
    text-align: left !important;
}

code {
    border: 1px solid #e8eaed;
    border-radius: 4px;
    font: 500 90% / 1 Consolas, Mono, monospace;
    word-break: break-word;
}

th {

    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: inherit;
    border: 0;
    margin: 0;
    text-align: left;
    height: 48px;
    padding: 16px;
    vertical-align: middle;
    font: 500 16px / 24px Roboto, "Noto Sans", "Noto Sans JP", "Noto Sans KR";
    background: #f1f3f4;
    color: #000;
    width: 15%;
}

.markdown h3 {
    font: 500 20px / 28px Android Euclid, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
    letter-spacing: normal;
    margin: 32px 0 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

img,
video {
    border: 0;
    height: auto;
    max-width: 100%;
}

pre {
    /*#f8f9fa;*/
    color: #37474f;
    direction: ltr !important;
    text-align: left !important;
    font: 14px / 20px Consolas, monospace;
    overflow-x: auto;
    position: relative;
    margin: 0;
    /*padding: 24px;*/
    box-sizing: border-box;
}

pre code {
    color: #37474f;
    direction: ltr !important;
    text-align: left !important;
    border-radius: 4px;
    font: 500 90% / 1 Consolas, monospace;
    font-weight: 400;
    word-break: normal;
    background: 0;
    border: 0;
    font-size: 14px;
    padding: 0;
}

.caution {
    border-radius: 4px;
    display: block;
    font-size: 14px;
    margin: 32px 0;
    padding: 16px 24px 16px 24px;
    /* padding: 16px 24px 16px 60px; */
    background: #feefe3;
    color: #bf360c;
}


.hljs {
    background: #f3f3f3 !important;
}


.article-tags {
    position: relative;
    margin-top: 32px;
}

.markdown .col-tag {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0 5px 10px;
    padding: 0 10px;
    height: 30px;
    max-width: 90%;
    font-size: 12px;
    line-height: 28px;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    margin-left: 0;
    margin-right: 10px;
}

.article-infos-wrap {
    margin-top: 8px;
    position: relative;
}

.article-infos {
    font-size: 12px;
    line-height: 20px;
    color: #999;
}

@media (min-width: 1200px) {
    .comments-header {
        margin-bottom: 40px;
    }
}

.edit-textarea {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 90px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    resize: vertical;
    font-size: 14px;
    line-height: 1.5;
}

.edit-tip {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #999;
    border: 1px solid #e5e5e5;
    background-color: #f5f7fa;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-tip a {
    color: #00a4ff;
    font-weight: 600;
}

.article-filter {
    box-sizing: border-box;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e8ed;
    margin-bottom: 28px;
}

.article-filter-main {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #333;
}

.article-filter-main em {
    color: #00a4ff;
    font-weight: 500;
    font-style: normal;
}

.code-header {
    outline-color: inherit;
    box-sizing: content-box;
    background-color: #e6e6e6;
    color: #171717;
    border: 1px solid #e6e6e6;
    min-height: 30px;
    border-bottom: 0;
    flex-direction: row;
    margin-top: 16px;
    font-size: .8rem;
    display: flex;
}

.language {
    outline-color: inherit;
    box-sizing: inherit;
    flex-grow: 1;
    padding: 2px 16px;
}

.code-header .action {
    font-family: inherit;
    font-size: 12.8px;
    overflow: visible;
    text-transform: none;
    margin: 0;
    outline-color: inherit;
    box-sizing: inherit;
    -webkit-appearance: button;
    position: relative !important;
    border: 0 solid #e6e6e6;
    color: #171717;
    cursor: pointer;
    border-left-width: 1px;
    align-items: center;
    padding: 2px 10px;
    line-height: normal;
    display: flex;
    background: transparent;
}

pre {
    -webkit-font-smoothing: auto;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace !important;
    outline-color: inherit;
    border: 1px solid #e6e6e6;
    background-color: #f2f2f2;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    hyphens: none;
    margin: 1rem 0 0;
    padding: 1rem;
    font-size: .875rem;
    line-height: 1.3571;
    overflow: auto;
    box-sizing: inherit;
    margin-top: 0;
}

.icon {
    width: 12.8px;
    height: 12.8px;
    margin-right: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:rgb(23,23,23)' viewBox='0 0 24 24'%3E%3Cpath d='M18.984 21v-14.016h-10.969v14.016h10.969zM18.984 5.016q0.797 0 1.406 0.586t0.609 1.383v14.016q0 0.797-0.609 1.406t-1.406 0.609h-10.969q-0.797 0-1.406-0.609t-0.609-1.406v-14.016q0-0.797 0.609-1.383t1.406-0.586h10.969zM15.984 0.984v2.016h-12v14.016h-1.969v-14.016q0-0.797 0.586-1.406t1.383-0.609h12z'%3E%3C/path%3E%3C/svg%3E");
}
