html {
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
    word-wrap: break-word;
    color: #030303;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    height: 100%;

}

body {
    margin: 0;
    padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    font-size: 1.2rem;
    overflow-x: hidden;
    height: 100%;
}
.dialog-mask {
    position: fixed;
    z-index: 1001;
    right: 0;
    bottom: -200px;
    top: 0;
    left: 0;
    /* -webkit-transition: opacity .25s; */
    opacity: 0;
    visibility: hidden;
}

.dialog-show .dialog-mask {
    background-color: #000;
    opacity: .4;
    visibility: inherit;
}

.dialog-wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 1002;
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    white-space: nowrap;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    transform: translateZ(0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dialog-show .dialog-wrapper {
    opacity: 1;
    visibility: inherit;
}

.dialog-wrapper::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.dialog-container {
    border-radius: 8px;
    position: relative;
    display: inline-block;
    z-index: 1060;
    background-color: #fff;
    opacity: 0;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    transform: translateZ(0);
    box-shadow: 0 5px 26px 0 rgba(0, 0, 0, .22), 0 20px 28px 0 rgba(0, 0, 0, .3);
}

.dialog-show .dialog-container {
    opacity: 1;
    visibility: inherit;
}

.dialog-container-wrapper {
    max-width: 300px;
    -webkit-user-select: none;
}

.dialog-content {
    padding: 24px;
    font-size: 16px;
    overflow-wrap: break-word;
}

.dialog-footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 8px 0;
}

.dialog-button {
    margin-bottom: -1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 0 0 auto;
    margin-right: 8px;
    min-width: 48px;
    padding: 0 8px;
    line-height: 36px !important;
    text-align: center;
    font-family: Roboto-Medium, HelveticaNeue-Medium, HelveticaNeue, sans-serif-medium, Arial, sans-serif !important;
}